In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns

In [108]:
# 51.Display patient details where "ReasonForVisit" is either 'Migraine' or 'Pneumonia' and Acuity is 2 or more.
edvisit = pd.read_excel("HospitalDatabase .xlsx",sheet_name="EDVisits")
df_ed = edvisit[["PatientID","ReasonForVisit","Acuity"]]
df_ed.loc[((df_ed["ReasonForVisit"] == 'Migraine') |(df_ed["ReasonForVisit"] == 'Pneumonia')) & (df_ed["Acuity"] >= 2)]

      PatientID ReasonForVisit  Acuity
1            12       Migraine       2
3            14       Migraine       3
11           29      Pneumonia       2
12           30      Pneumonia       3
13           31      Pneumonia       4
...         ...            ...     ...
1107        773       Migraine       2
1150        850       Migraine       2
1152        852       Migraine       2
1160        868       Migraine       2
1162        870       Migraine       2

[215 rows x 3 columns]

In [7]:
#45. Calculate mortality by diagnosis.
readmregistry = pd.read_excel("HospitalDatabase .xlsx",sheet_name="ReAdmissionRegistry")
df_readm = readmregistry[["PrimaryDiagnosis","DischargeDisposition"]]
mort = df_readm.groupby("PrimaryDiagnosis")["DischargeDisposition"].apply(lambda x: (x=='Expired').sum()).reset_index(name='Mortality count')
display(mort)

      PrimaryDiagnosis  Mortality count
0                  AMI                6
1                 Afib                4
2           Broken Leg                3
3             Diabetes                9
4                Fever                4
5                  Flu               11
6        Heart Failure               16
7         Hip Fracture                3
8         Hypertension               16
9       Kidney Failure                2
10    Knee Replacement                2
11          Laceration                2
12            Migraine                0
13                Pain                1
14           Pneumonia               16
15  Spinal Cord Injury                2
16              Stroke                7

In [98]:
#54.Mortality O.E
#Create a calculated field” Observed Mortality” - COUNT(IF [Discharge Disposition] ='Expired’ THEN 1 END)
#Create another calculated field “O: E Mortality”- ([Observed Mortality])/SUM([Expected Mortality]) 
readmregistry = pd.read_excel("HospitalDatabase .xlsx",sheet_name="ReAdmissionRegistry")
df_readm = readmregistry[["DischargeDisposition"]]
df_mort = (df_readm == 'Expired').sum()
df_exp = readmregistry["ExpectedMortality"].sum().round(2)
df_exp
MortalityOE = ((df_mort/df_exp)*100)
#display(MortalityOE)
print("Mortality O:E as per",MortalityOE)

Mortality O:E as per DischargeDisposition    42.726264
dtype: float64

In [59]:
df_ambulatory = pd.read_excel("HospitalDatabase .xlsx",sheet_name="AmbulatoryVisits")
df_amb = df_ambulatory["VisitStatus"]
cancelledvisits = print((df_amb == 'Canceled').sum())

60

In [76]:
#23. Write a function to find the center element in the list. (one element in odd length list, two elements in even length list).
a=int(input("Number of elements in the array:"))
newlist=list(map(int, input("Enter the elements of the array:-").strip().split()))
print(newlist)
def middle():
    if len(newlist)%2 == 0:
        x=len(newlist)//2-1
        y=(len(newlist)//2)
        print(newlist[x],newlist[y])
    else:
        z=len(newlist)//2
        print(newlist[z])
        
middle()

Number of elements in the array:8
Enter the elements of the array:-1 2 3 4 5 6 8 9
[1, 2, 3, 4, 5, 6, 8, 9]
4 5

In [81]:
#75. Calculate the time spent in ED Department for each visit.
edvisit = pd.read_excel("HospitalDatabase .xlsx",sheet_name="EDVisits")
df_edm =edvisit[["EDVisitID","VisitDate","EDDischargeTime"]]

#Calculating the time spent in Ed Department
df_edm = df_edm.assign(Timeinhosp = df_edm["EDDischargeTime"]-df_edm["VisitDate"])
df_edm

,EDVisitID,VisitDate,EDDischargeTime,Timeinhosp
0,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,0 days 11:20:22.924000
1,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,0 days 23:14:20.215000
2,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,0 days 01:50:56.151000
3,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,0 days 01:20:09.793000
4,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,0 days 02:38:20.043000
...,...,...,...,...
1194,1183,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,0 days 15:53:09.453000
1195,1186,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,0 days 22:27:04.030000
1196,1187,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,0 days 04:30:03.545000
1197,1188,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,0 days 06:10:35.054000
1198,1189,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,0 days 10:49:26.581000

In [88]:
# 21. Which demographic patients are prone to get stroke?
import pandas as pd
from datetime import datetime,date

patient = pd.read_excel("HospitalDatabase .xlsx",sheet_name="Patients")
df_dob = patient["DateOfBirth"]

#Converting birth date to age
def age(DateOfBirth):
    patient["DateOfBirth"] = pd.to_datetime(df_dob)
    today = date.today()
    return today.year - DateOfBirth.year - ((today.month,today.day) < (DateOfBirth.month,DateOfBirth.day))
    
patient['Age'] = df_dob.apply(age)


readmregistry = pd.read_excel("HospitalDatabase .xlsx",sheet_name="ReAdmissionRegistry")
df_merge = patient[["PatientID","Age","Gender","Race","Language"]].merge(readmregistry[["PatientID","PrimaryDiagnosis"]],
                                                   on = "PatientID",
                                                   how = "inner")
patlist = df_merge.groupby(["Age","Gender","Race","Language"])["PrimaryDiagnosis"].apply(lambda x: (x=='Stroke').sum()).nlargest(1).reset_index(name='Patientcount')
  
display(patlist)

   Age  Gender   Race Language  Patientcount
0   57  Female  White  English             3

In [92]:
# 31. Find the count of White Spanish Male.
patient = pd.read_excel("HospitalDatabase .xlsx",sheet_name="Patients")
demo = print(((patient["Race"]=='White') & (patient["Language"]=='Spanish') & (patient["Gender"]=='Male')).sum())

15

In [93]:
# 73. Delete the column 'DischargeDispostion' iteratively.
df_discharge = pd.read_excel("HospitalDatabase .xlsx",sheet_name="Discharges")

#deleting the column "DischargeDisposition" iteratively.
for col in df_discharge:
    if "DischargeDisposition" in col:
        del df_discharge[col]

df_discharge

,AdmissionID,PatientID,AdmissionDate,DischargeDate,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality
0,1,9,2018-01-01,2018-01-07 18:06:06.408,Cardiology,AMI,9.646857,0.061540
1,257,93,2018-01-06,2018-01-18 02:59:04.667,Cardiology,Broken Leg,6.816558,0.628827
2,152,101,2018-01-07,2018-01-11 16:16:06.782,Cardiology,Kidney Failure,6.580273,0.573887
3,361,102,2018-01-07,2018-01-15 04:48:33.134,Cardiology,Afib,12.794536,0.222163
4,258,103,2018-01-07,2018-01-15 13:32:36.157,Cardiology,Broken Leg,2.639297,0.055468
...,...,...,...,...,...,...,...,...
715,715,716,2018-02-21,2018-03-06 03:31:05.262,ICU,Heart Failure,11.362095,0.370695
716,698,723,2018-02-22,2018-02-26 15:09:02.584,ICU,Heart Failure,10.262312,0.812930
717,704,724,2018-02-22,2018-02-27 07:59:32.385,General Medicine,Pneumonia,6.036234,0.094128
718,716,733,2018-02-22,2018-03-05 12:31:55.958,ICU,Heart Failure,13.323413,0.490892
719,710,742,2018-02-22,2018-03-10 20:38:30.568,General Medicine,Diabetes,7.195441,0.286439

In [106]:
# 72. List male patients over the age of 60 who have undergone surgery from January-March 2019.
import pandas as pd
from datetime import datetime,date

#Retrieving the age fron DOB
patient = pd.read_excel("HospitalDatabase .xlsx",sheet_name="Patients")
df_dob = patient["DateOfBirth"]

#Converting birth date to age
def age(DateOfBirth):
    patient["DateOfBirth"] = pd.to_datetime(df_dob)
    today = date.today()
    return today.year - DateOfBirth.year - ((today.month,today.day) < (DateOfBirth.month,DateOfBirth.day))

patient['Age'] = df_dob.apply(age)

provider= pd.read_excel("HospitalDatabase .xlsx",sheet_name="Providers")
amb= pd.read_excel("HospitalDatabase .xlsx",sheet_name="AmbulatoryVisits")
edvisit = pd.read_excel("HospitalDatabase .xlsx",sheet_name="EDVisits")

#Merging three tables Providers, Ambulatory Visits, Patients
df_merge = patient[["PatientID","Age","Gender"]].merge(edvisit[["EDVisitID","PatientID"]],
                                                   on = "PatientID",
                                                   how = "inner").merge(amb[["ProviderID","PatientMRN","DateofVisit","VisitStatus"]],
                                                   left_on = "PatientID",right_on = "PatientMRN",
                                                   how = "inner").merge(provider[["ProviderID","ProviderSpecialty"]],
                                                                       on = "ProviderID",
                                                                       how = "inner")

#Retreiving only the rows satisfying the filter conditions
df_pat = df_merge.loc[(df_merge["Age"] >60) & (df_merge["Gender"] == 'Male') & (df_merge["ProviderSpecialty"] == 'Surgery') &  
             (df_merge["VisitStatus"] == 'Completed') &  (df_merge["DateofVisit"] > '2019-1-1') & 
             (df_merge["DateofVisit"] < '2019-3-31')]
df_pat

,PatientID,Age,Gender,EDVisitID,ProviderID,PatientMRN,DateofVisit,VisitStatus,ProviderSpecialty
392,581,62,Male,835,11,581,2019-03-01,Completed,Surgery
436,802,61,Male,1056,12,802,2019-02-09,Completed,Surgery
552,19,62,Male,19,16,19,2019-01-16,Completed,Surgery
553,19,62,Male,110,16,19,2019-01-16,Completed,Surgery

In [107]:
#53. Take the ReasonForVisit from user, find the number of patients admitted with that ReasonForVisit.
edvisit = pd.read_excel("HospitalDatabase .xlsx",sheet_name="EDVisits")
df_ed = edvisit[["ReasonForVisit"]]

#Getting the Reason for Visit from the user
user_input = str(input("Enter the reason for visit: "))

#Checking the condition and displaying the count
ed = df_ed.loc[df_ed["ReasonForVisit"] == user_input].count()
display(ed)

Enter the reason for visit: Migraine

ReasonForVisit    156
dtype: int64